* {
  box-sizing: border-box;
  border: 1px dotted green;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Mainpage */

#mainpage-container {
  margin: 5vh auto;
  width: 60vw;
  height: max-content;
}

.logo-medium {
  width: 8vmax;
}

#navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo-box {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.login-box {
  flex: 0.5 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage {
  font-size: 2.2vmin;
  margin-right: 15px;
}

.login-btn {
  background-color: #27aa1b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8vmin;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

.search-box {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-list-box {
  width: 100%;
  padding: 0px;
  flex: 9 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

#main-input {
  width: 50vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 2vmin;
}

.question-preview {
  width: 50vw;
  height: 7vh;
  display: flex;
}

.qp-flex-left {
  flex: 0 0 2vw;
  font-size: 1.5vmin;
  display: flex;
  align-items: center;
}

.qp-flex-mid {
  flex: 0 1 40vw;
  padding: 0.5vh;
  position: relative;
}

.qp-flex-right {
  flex: 0 1 8vw;
}

.qp-detail {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 1.5vmin;
  margin: 0.5vh;
}

.qp-title {
  font-size: 2vmin;
}

.qp-tag {
  display: inline-block;
  margin: 0.5vh;
  font-size: 1.7vmin;
}

/* Mypage */
#mypage-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  display: flex;
}

.logo-box-flex {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-box-flex {
  display: flex;
  flex-direction: column;
}

.myinfo-box {
  flex: 0 0 30vh;
  width: max-content;
}

.mylists-box {
  flex: 0 0 50vh;
  width: max-content;
}

.myinfo {
  height: 30vh;
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.mylists {
  height: 50vh;
  width: 60vw;
  display: flex;
}

.mylists-flex {
  flex: 0 0 30vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
}

.logo-large {
  width: 16vmax;
  position: absolute;
  right: 0;
  top: 5vh;
}

.mylists-title {
  display: flex;
  font-size: 2.4vmin;
  justify-content: center;
  align-items: flex-end;
  padding: 1vh;
}

.mylists-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mylists-content {
  height: 12vh;
  flex: 0 0 28vw;
  padding: 1vh;
  position: relative;
}

.mylists-content-title {
  font-size: 2vmin;
}

.mylists-content-detail {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1vh;
  font-size: 1.5vmin;
}

.mylists-content-tag {
  display: inline-block;
  margin: 0.5vh;
  font-size: 1.7vmin;
}

/* Detailpage */
#detailpage-container {
  margin: 5vh auto;
  width: 60vw;
  height: max-content;
  display: flex;
}

.detail-content-box-flex {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.detail-q-title-box {
  flex: 0 0 10vh;
  padding: 0 2vw;
}

.detail-padding {
  padding: 1vh 2vw;
}

.detail-q-title {
  width: max-content;
}

.detail-a-title {
  margin: 0;
}

.detail-title-detail {
  text-align: right;
  margin-bottom: 2vh;
}

.detail-content {
  height: max-content;
  padding: 1vh;
}

#detail-textarea {
  width: 100%;
  min-height: 15vh;
  font-size: 1.8vmin;
  padding: 2vh;
  overflow: hidden;
  resize: none;
  margin-top: 2vh;
}

#answer-btn {
  padding: 1vh 1.5vw;
  text-align: center;
  font-size: 1.8vmin;
  float: right;
  margin-top: 1vh;
}

/* Signpage */

#signpage-container {
  height: 100vh;
  display: flex;
}

.signpage-flex-box {
  flex: 1 1 auto;
  display: flex;
}
