@tailwind base;
@tailwind components;
@tailwind utilities;

#signup {
  height: 100vh;
}

.signpage-flex-box {
  flex: 1 1 auto;
  display: flex;
}

.signup-active {
  top: 40%;
  left: 40;
}

#post-title-textarea {
  height: 30px;
  padding-left: 2px;
}

#post-content-textarea {
  width: 700px;
  height: 400px;
}

#submit-btn-area {
  margin-top: 30px;
  text-align: center;
}
